<!DOCTYPE html>
<html>
<head>
    <title>bunseokbot's commute timer</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript">
        function padding(value) {
            if(value.toString().length < 2) {
                return "0" + value
            }
            return value
        }

        function get_now(date) {
            return date.getFullYear() + "-" + padding(date.getMonth() + 1) + "-" + padding(date.getDate()) + " " + padding(date.getHours()) + ":" + padding(date.getMinutes()) + ":" + padding(date.getSeconds());
        }

        function set_status() {
            var date = new Date();
            $('#timer').html(get_now(date));

            if(date.getDay() > 5) {
                // not work
                if(date.getDay() == 7 && date.getHours() > 21) {
                    // if sunday and over 9 pm
                    $('#status').html("내일은 월요일입니다. 출근에 대비하세요.");
                } else {
                    $('#status').html("오늘은 쉬는날입니다.");
                }
            } else {
                // working day
                if(date.getHours() >= 19 || date.getHours() < 9) {
                    // off work - view tomorrow working day
                    if(date.getDay() + 1 > 5) {
                        // if tomorrow is saturday?
                        $('#status').html("내일은 쉬는날입니다. 걱정마세요.");
                    } else {
                        // else
                        $('#status').html("내일 일나가야지");
                    }
                } else if(date.getHours() >= 9 || date.getHours() < 19) {
                    // on work - view today working day
                    var eDay = new Date(date.getFullYear(), date.getMonth() + 1, date.getDate(), 19, 00, 00); // end day
                    eHour = (eDay - date) / 1000 / 60 / 60 / 24 / 60;
                    eMinute = (eDay - date) / 1000 / 60 / 60 / 24 / 60 / 60;
                    eSecond = (eDay - date) / 1000 / 1000 / 60 / 60 / 24 / 60 / 60;
                    $('#status').html("퇴근시간 " + eHour + "시간 " + eMinute + "분 " + eSecond + "초 남았습니다.");
                }
            }

        }
    </script>
    <style type="text/css">
        #timer, #status {
            margin-top: 20px;
            font-size: 30pt;
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="timer">
    </div>

    <div id="status">
    </div>
</body>
    <script type="text/javascript">
        set_status();
        setInterval(function() { set_status(); }, 1000);
    </script>
</html>